@charset "UTF-8";

@import 'sanitize.css';
@import 'drawings/d1.css';
@import 'drawings/d2.css';
@import 'drawings/d3.css';

/* Smartphone en portrait */
@media all and (min-width: 0px) {
	#drawings {
		display: flex;
		flex-flow: row wrap;
		justify-content: flex-start;
		align-items: flex-start;
	}
	.drawing {
		width: 200px;
		height: 150px;
		margin: 5px 0;
	}
}
/* Smartphone en paysage, tablette en portrait, petite tablette en paysage */
@media all and (min-width: 480px) {
	#drawings {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-around;
		align-items: flex-start;
		align-content: flex-start;
	}
	.drawing {
		width: 400px;
		height: 300px;
		margin: 10px 0;
	}
}
/* Tablette en paysage, ordinateur de taille petite et moyenne */
@media all and (min-width: 960px) {
}
/* Ordinateur de grande taille */
@media all and (min-width: 1280px) {
}

body {
	height: 100vh;
	background-color: #171d23;
}
