@charset "UTF-8";

@import 'sanitize.css';
@import 'drawings/d1.css';
@import 'drawings/d2.css';
@import 'drawings/d3.css';
@import 'drawings/d4.css';
@import 'drawings/d5.css';

#number {
	position: absolute;
	z-index: 1;
	background-color: black;
	color: white;
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	border-radius: 10px;
}
#drawings {
	display: flex;
	background-color: #171d23;
	min-height: 100vh;
	font-size: 0;
}

/* Smartphone en portrait */
@media all and (min-width: 0px) {
	#drawings {
		flex-flow: column nowrap;
		justify-content: flex-start;
		align-items: center;
	}
	.drawing {
		width: calc(1 / 3 * 400px);
		height: calc(1 / 3 * 300px);
		margin: 5px 0;
	}
}
/* Smartphone en paysage, tablette en portrait, petite tablette en paysage */
@media all and (min-width: 480px) {
	#drawings {
		flex-flow: row wrap;
		justify-content: space-around;
		align-items: flex-start;
		align-content: flex-start;
	}
	.drawing {
		width: calc(2 / 3 * 400px);
		height: calc(2 / 3 * 300px);
		margin: 10px 0;
	}
}
/* Tablette en paysage, ordinateur de taille petite et moyenne */
@media all and (min-width: 960px) {
	.drawing {
		width: 400px;
		height: 300px;
		margin: 20px 0;
	}
}
