#d3 {
	background-color: #6592cf;
	position: relative;
}
#d3 * {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
#d3 #rect {
	background-color: #243d83;
	width: calc(3 / 4 * 100%);
	height: calc(1 / 2 * 100%);
}
#d3 #circle1 {
	background-color: #6592cf;
	width: calc(2 / 3 * 100%);
	height: calc(3 / 4 * 100%);
	border-radius: calc(1 / 2 * 100%);
}
#d3 #circle2 {
	background-color: #243d83;
	width: calc(2 / 5 * 100%);
	height: calc(1 / 2 * 100%);
	border-radius: calc(1 / 2 * 100%);
}
#d3 #circle3 {
	background-color: #eeb850;
	width: calc(1 / 8 * 100%);
	height: calc(1 / 6 * 100%);
	border-radius: calc(1 / 2 * 100%);
}
